<?xml version="1.0"?>
<model>
  <name>EBS_tractor</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Jerry Kuo</name>
   <email>jerrykuo820@gmail.com</email>
  </author>

  <description>
    My awesome robot used for EBS 289K: Agricultural Robotics. UC Davis.
    Partner with Vivian Zhou
  </description>
</model>
